/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #fff; /* Light text */
    line-height: 1.6;
}

Section ul{
	margin-left:40px;
	margin-right:40px;
}

Section h4{
	margin-left:20px;
}

/* Navigation Bar */
nav {
    background-color: #1c1c1c; /* Darker background for nav */
    padding: 10px 0;
	text-align:center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Main Title */
header {
    text-align: center;
    padding: 80px 20px;
    background-color: #333;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2rem;
}

/* Content Section */
section {
    padding: 50px 20px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
	text-align:center;
}
h3 {
	font-size:1.5rem;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	line-height:50px;
	background-color:#2c2c2c;
}

Section h4 {
	font-size:1rem;
	margin-bottom: 15px;
	margin-top:15px;
	text-align:left;
}

Section div{
	margin-bottom: 15px;
	margin-top:15px;
	line-height:50px;
	text-align:center;
}

div1 a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}

div1 a:hover {
    background-color: #575757;
    border-radius: 4px;
}

div2 a {
    color: #fff;
    text-decoration: none;
    padding: 30px 20px;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}

div2 a:hover {
    background-color: #575757;
    border-radius: 4px;
}


section p {
    font-size: 1rem;
    color: #ccc;
}

/* Schedule Table */
.schedule-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.schedule-table th {
    background-color: #333;
    color: #fff;
}

.schedule-table td a {
    Color:lightgrey;
    text-decoration: underline;
}

.schedule-table td a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

/* Study Material */
.subject-folder {
    margin: 20px 0;
}

.subject-folder a {
    color: #4CAF50;
    text-decoration: none;
}

.subject-folder a:hover {
    text-decoration: underline;
}
